
.logo1{
    
   margin-right: 40px;
   height: 50px;
}
.myBtns{
    display: inline-flex;
float: right;

}
.signupBtn{
    width: 80px;
    height: 30px;
    border-radius: 50px;
    border: 0px;
    background-color: hsl(173, 67%, 73%);
    color: white;
    margin-top: 10px;
}
.loginBtn{
  
     margin-top: 12px;
     width: 80px;
     height: 30px;
     border-radius: 50px;
     border: 0px;
     background-color: white;
     color: gray;
 }
 .loginBtn:hover{
    color: black;
 }
.signupBtn:hover,.getStarted:hover,.enterBtn:hover{
    background-color: rgb(106, 246, 243);
   cursor: pointer;
}
.hamburger{
    display: none;
}

  .headingLinks{
   display: inline-flex;
   float:left;
   margin-left: 250px;
   margin-right: -500px;
   
 
    }
    .upperHeading{
      display: inline-flex;
    }
  a{
    margin-right: 20px;
      text-decoration: none;
      color: gray;
}
a:hover{
    color: black;
}
h1{
    
    font-size: xxx-large;
}
p{
    color: gray;
    font-size: medium;
}
.starter{
  
padding-left: 30px;
margin-top: 30px;
justify-content: center;
text-align: left;
margin-bottom: 80px;
width: 390px;

  }
 .workingDiv{ 
    flex-wrap: wrap-reverse;
    display: flex;
    justify-content: center;
 }
 .working{
   
    margin-bottom: 50px;
 }
  .getStarted{
    width:100px;
    height:30px;
    border-radius: 100px;
    border: 0px;
    background-color:hsl(173, 67%, 73%);
    color: white;
    padding-top: 2px;
    margin-bottom: 20px;
    
    }
.inputDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.shortner{
    background-image: url(images/bg-shorten-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(48, 53, 70) ;
    height: max-content;
    padding: 20px; 
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    width: 70%;
   margin-bottom: -40px;
   border-radius: 5px;

}
input{
width:60%;
    height: 30px;
    border: 0px;
    border-radius: 6px;
    margin-right: 18px;
    padding-left: 18px;
}
.enterBtn{
    height: 30px;
    background-color:hsl(173, 67%, 73%);
    border: 0px;
    color: white;
    border-radius: 6px;
    width: 100px;
    margin-top: 15px;
}
.middleSection{
  
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 100px;
    padding-bottom: 90px;
    height: max-content;
    background-color: rgb(217, 221, 222);
}
.secondInto{
justify-content: center;
text-align: center;
margin-bottom: 80px;
}

.linkDiv{
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 77%;
    background-color: white;
   margin-left: 160px;
    margin-bottom: 60px;
    margin-top: -40px;
    border-radius: 5px;
    height: fit-content;
}
.shortenedLink{
    text-align: left;
    width: 10%;
    margin-left: 480px;
    color: hsl(173, 67%, 73%);
    padding-right: 60px;
}
.copy{
    color: white;
    background-color:hsl(173, 67%, 73%);
    border-width: 0px;
    border-radius: 4px;
    margin-top: 8px;
    height: 35px;
    width:10%;
}
.copied{
    background-color: rgb(88, 88, 241);
}
.statistics{

display: flex;
flex-wrap:wrap;
justify-content:space-around;
gap: 0px;
}

h3,h4,h5{
    font-size: larger;
}
h3{
    margin-bottom: -10px;
    margin-top: 30px;
}
h4{
    margin-bottom:10px ;
    margin-top: 30px;
}
h5{
   
    margin-bottom: 14px;
    margin-top: 35px;
}
.img1,.img2,.img3{
   margin-left: 70px;
   margin-bottom: 30px;
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 60px;
    background-color: rgb(48, 53, 70);
}
.img1{
    margin-top: -80px;
    background-image: url(images/icon-brand-recognition.svg);
}
.img2{
    margin-top: -90px;
    background-image: url(images/icon-detailed-records.svg);
}
.img3{
    margin-top: -100px;
    background-image: url(images/icon-fully-customizable.svg);
}
.block1,.block2,.block3{
text-align: left;
background-color: white;
height:200px;
width: 330px;
padding-left: 10px;
padding-right: 10px;
font-size: smaller;

border-radius: 5px;
box-shadow: 0 1px 4px 0 rgba( 0, 0, 0, 0.12), 0 1px 4px 0 rgba( 0, 0, 0, 0.18);

}
.block2{
   transform: translateY(2rem);
}
.block3{
    transform: translateY(4rem);
}
.boostLinks{
    padding: 20px;
    padding-top: 15px;
    text-align: center;
    justify-content: center;
    background-image: url(./images/bg-boost-desktop.svg);
    background-color: rgb(48, 53, 70);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    height: 50px;
    width: 120px;
  padding-left: 20px;
  margin-right: 0px;
}
footer{
    padding-top: 20px;
    background-color: black;
    padding-bottom: 20px;
    justify-content: center;
    padding-left: 100px;
}
.footerDiv{
  
display: grid;
grid-template-columns: repeat(auto-fill,minmax(210px,1fr) ) ;
align-items: center;
justify-content: center;
}

img{
    margin-right: 0px;
}
ul{
list-style-type: none;
}
.footHeader{
    color: white;
    margin: 0px;
}
.link:hover{
    color:hsl(159, 82%, 65%);
}
h6{
   
     font-size: x-large;
     margin-bottom: 22px;
     color: white;
 }
 .lineThrough{
    display: none;
 }
 .layout{
    margin: 0px;
 }
 
@media  (max-width:800px){

.headingLinks{
    height: max-content;
    line-height: 60px;
    padding-top: 20px;
    padding-bottom: 30px;
    display:none;
    margin-left: 0px;
    margin-right: 0px;
    background-color:rgb(48, 53, 70) ;
    float:none;
    text-align: center;
    color: white;

  
}
a:hover{
    color:hsl(173, 67%, 73%);
}
.myBtns{
    border-top: 1px solid white;
    color: white;
    background-color: rgb(48, 53, 70);
    justify-content: center;
    float: none;
    padding-bottom: 40px;
    display: none;
    padding-right: 90px;
margin-top: -28px;

}
.signupBtn{
    width: 200px;
margin-left: 110px;
}
.loginBtn{
    
    background-color: rgb(48, 53, 70) ;
    color: white;
    margin-left: 170px;
}
.loginBtn:hover{
    color:hsl(173, 67%, 73%) ;
}
.workingDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}
.working{
    margin: 0px;
        width: 350px;
       margin-top: -830px;
    }
.remove{
    display:grid ;
    
}
.blank{
    display: none;
}
.block{
    display: block; 
}
.h1marging{
margin-top: 0px;
}
.starter{
    text-align: center;
    margin-left: -19px;
}
h1{
    margin: 0px;
   margin-top: 390px;
}

.hamburger{
    width: 35px;
    height: 20px;
    display: block;
    padding-top: 7px;
    background-color: black;
   
}
.getStarted{
    width: 200px;
}
.shortner{
    width: 300px;
 
}
input{
    width:280px
}
.enterBtn{
    width: 300px;
}
.block1,.block2,.block3{
    text-align: center;
}
.img1,.img2,.img3{
 margin-left: 100px;
}
.block2{
    margin-top: 30px;
}
.block3{
    margin-top: 30px;
}
.logo{
margin-left:  0px;
width: 120px;
}


footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.footerDiv{
   display: flex;
   flex-direction: column;
    margin-left: -100px;
    text-align: center;
}
.footHeader{
    margin-bottom: 20px;
    margin-left: -18px;
}
.socialMedia{
margin-left: 40px;
}
.lineThrough{
    width: 6px;
    height: 300px;
    background-color: cyan;
}
.linkDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: white;
    height: fit-content;
    padding-bottom: 20px;
   margin-left: 0px;
}

.originalLink{
    border-bottom: 1px solid rgb(212, 210, 210);
    border-spacing: 20px;
    width:fit-content ;
   padding-left: 17px;
}
.shortenedLink{
    padding-left: 17px;
    width: 100%;
    margin-top: 0px;
    margin-left: -0px;
    margin-bottom: 0px;
}
.copy{
    
    width:90%;
    
}

}
@media (max-width:1200px) {

    .linkDiv{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        background-color: white;
        height: fit-content;
        padding-bottom: 20px;
       margin-left: 0px;
    }
    
    .originalLink{
        border-bottom: 1px solid rgb(212, 210, 210);
        border-spacing: 20px;
        width: 100%;
       padding-left: 17px;
    }
    .shortenedLink{
        padding-left: 17px;
        width: 100%;
        margin-top: 0px;
        margin-left: -0px;
        margin-bottom: 0px;
    }
    .copy{
        width:90%;
    }
    .hamburger{
        position: relative;
        margin-left: 320px;
        margin-top: -40px;
        width: 35px;
        height: 20px;
        display: block;
        padding-top: 7px;
        background-color: black;
        float: right;
    }
}
@media (max-width:339px){
    .working{
        margin: 0px;
        margin-top: -1200px;
    }
    .hamburger{
        margin: 0px;
        margin-bottom: 0px;
    }
    .logo1{
        margin-bottom: 0px;
    }
}
