
body{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  position: relative;
  overflow-x: hidden; 
}
.container{
    background-image: url(./images/illustration-working.svg);
    background-repeat: no-repeat;
    background-size: 340px;
    background-position:940px 60px ;
   padding-left: 130px;
   padding-right: 30px;
   width:fit-content;
   margin-left: 100px;

}
.options{
    display: none;
}
ul{
    list-style: none;
}
a{
    margin-right: 15px;
    text-decoration: none;
    color: gray;
}
a:hover{
    color: black;
}
.headingLinks{
    display: flex;
    
}
.logo1{
    height: 50px;
    width: 120px;
  margin-right: -20px;

}
.upperHeading{
    display: flex;
  margin-left: 300px;
 
}
.starter{
    margin-left: 310px;
}
.signupBtn{
margin-right: -270px;
}
.loginBtn{
   margin-left: 200px;
    margin-top: 12px;
    width: 80px;
    height: 30px;
    border-radius: 50px;
    border: 0px;
    background-color: white;
    color: gray;
}
.loginBtn:hover{
color: black;
}

.signupBtn{
    width: 80px;
    height: 30px;
    border-radius: 50px;
    border: 0px;
    background-color: hsl(173, 67%, 73%);
    color: white;
}

.signupBtn:hover,.getStarted:hover,.enterBtn:hover{
    background-color: rgb(106, 246, 243);
   
}
h1{
    margin-top: 40px;
    width: 340px;
    font-weight:bold;
    font-size: xxx-large;
}
.openingParagraph{
    width: 320px;
    font-size: smaller;
    margin-bottom: 30px;
    color: gray;
    line-height: 20px;
    font-size: medium;
}
.getStarted{
width:100px;
height:30px;
border-radius: 100px;
border: 0px;
background-color:hsl(173, 67%, 73%);
color: white;
padding-top: 2px;
margin-bottom: 70px;

}
.shortner{
    position: absolute;
    width: 680px;
    margin-left: 320px;
    background-color: rgb(48, 53, 70);
    height: 90px;
    border-radius:5px ;
    background-image: url(./images/bg-shorten-desktop.svg);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-size: 800px;
    background-repeat: no-repeat;
    padding-left: 30px;
}
input{
    height: 30px;
    width:  500px;
    border: 0px;
    border-radius: 6px;
    margin-right: 18px;
    padding-left: 18px;
    
}
.enterBtn{
    height: 30px;
    background-color:hsl(173, 67%, 73%);
    border: 0px;
    color: white;
    border-radius: 6px;
    width: 100px;
}
.middleSection{
    background-color: rgb(239, 242, 242);
    margin-top: -40px;    
    padding-left: 380px;
    padding-right: 70px;
    padding-bottom: 1px;
    margin-bottom: -60px;
    margin-left: -60px;

}
h2{
    font-weight: 900;
    margin-top: 100px;
    padding-top: 170px;
}
.secondParagraph{
    color: gray; 
    margin-bottom: 70px;
}
h2,.secondParagraph{
    margin-left: 150px;
text-align: center;
width: 390px;

}
h3,h4,h5{
   
    font-size: larger;
}
.block1,.block2,.block3{
    text-align: left;
    background-color: white;
    height:200px;
    width: 223px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: smaller;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba( 0, 0, 0, 0.12), 0 1px 4px 0 rgba( 0, 0, 0, 0.18);

}
.statistics{
    display: flex ;
    flex-direction: row;
}
.block1{
    padding-top: 20px;
    padding-left: 20px;
}
.block2{
    margin-top: 40px;
    padding-top: 20px;
}
.block3{
    margin-top: 80px;
    padding-top: 20px;
}
.lineThrough{
    height: 9px;
    width: 400px;
    background-color: hsl(159, 82%, 65%);
    margin-top: -180px;
    margin-left: 200px;
    margin-bottom: 300px;
}
.img1,.img2,.img3{
    border-radius: 100px;
   width:50px;
   height: 50px;
   background-color: rgb(48, 53, 70);
    float: left;
    margin-top: -90px;
 
}
.img1{
background-image: url(./images/icon-brand-recognition.svg);
background-repeat: no-repeat;
background-position: center;
background-size:30px;
margin-top: -90px;

}
.img2{
    margin-top: -100px;
    background-image: url(./images/icon-detailed-records.svg);
    background-repeat: no-repeat;
background-position: center;
background-size:30px;
margin-left: 10px;
}
.img3{
    margin-top: -110px;
    margin-left: 10px;
    background-image: url(./images/icon-fully-customizable.svg);
    background-repeat: no-repeat;
background-position: center;
background-size:30px;
}
p{
    color: gray;
}
.boostLinks{
    text-align: center;
    text-justify: auto;
    background-image: url(./images/bg-boost-desktop.svg);
    background-size: 2000px;
    background-repeat: no-repeat;
    background-position: -100px 0;
    color: white;
    background-color:rgb(48, 53, 70) ;
    height: 150px;
    margin-left: -150px;
    width: 1700px;
  
}
h6{
   padding-top: 20px;
    font-size: x-large;
    margin-bottom: 22px;
}

footer{
    
    margin-left: -200px;
    width: 1750px;
    background-color: black;
    color: white;
   height: 170px;
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: column;
}
.footerDiv{
    display: flex;
}
.layout{

    margin-left: 00px;
   
}
.link:hover{ 
   color:  hsl(159, 82%, 65%);
}
.logo{
margin-left: 400px;
margin-top: 20px;
align-self: self-start;
margin-bottom: -50px;
height: 30px;
}
.socialMedia{
  
 
    margin-left: 90px;
    margin-top: 15px;
}

@media only screen and (max-device-width:900px) and (min-device-width:550px) {
    body{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
      position: relative;
      padding-left: 90px;
      
    }
 .container{
  
    padding-left: 98px;
    background-repeat: no-repeat;
    background-size: 340px;
    background-position:740px 60px ;
   padding-left: 130px;
   padding-right: 30px;
   width:fit-content;
   margin: 0px;
 }

    .boostLinks{
        background-size: 1100px;
        background-repeat: no-repeat;
        background-position: -100px 0;
        color: white;
        background-color:rgb(48, 53, 70) ;
        height: 150px;
        margin-left: 0px;
        width:1000px;
    }
    .shortner{
        margin-left:120px;
    }
    .middleSection{
        background-color: rgb(239, 242, 242);
        margin-top: -40px;    
        padding-left: 90px;
        padding-right: 70px;
        padding-bottom: 1px;
        margin-bottom: -60px;
    }
    .upperHeading{
        margin-left: 100px;
    }
    .starter{
        margin-left: 100px;
    }
    footer{
        background-color: black;
        color: white;
       height: 170px;
       width:1000px;
       margin-left: 0px;
    }
    .logo{
    
        margin-top: 20px;
        margin-left: -50px;
        margin-bottom: -50px;
        height: 30px;
        }
    .footerDiv{
        display: flex;
       margin: 0px;
    }
    .layout{
        margin-left: 50px;
    }
    .link:hover{ 
       color:  hsl(159, 82%, 65%);
    }
    .logo{
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: -50px;
    height: 30px;
    }
    .socialMedia{
        display: flex;
        margin-left: 30px;
        margin-top: 15px;
    }
    
    
}
@media only screen and (max-device-width:550px) and (min-device-width:300px){
body{
    overflow-x: hidden;
    background-image: url(./images/illustration-working.svg);
    background-repeat: no-repeat;
    background-position: 0px 120px;
}
    .container{
       
        margin: 0px;
        width: 490px;   
        margin-left: -800px;
     
    }
    .upperHeading{

        margin-left: 990px;
    }
    .logo1{
        margin-left: -500px;
    }
    .options{
        display:  block;
        margin-left: 400px;
        background-color: black;
        padding-top: 10px;
        border: none;
      
    }
    .headingLinks{
        margin-top: -300px;
        text-align: center;
        margin-top: 250px;
        width: 278px;
        margin-left: -400px;
        margin-bottom: -450px;
        height: 220px;
        background-color:rgb(48, 53, 70) ;
        display: none;
        flex-direction: column;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
        
    }
    .remove{
        display: flex;
    }
    li{
        line-height: 20px;
        padding-bottom: 10px;
    }
    .myBtns{
        border-top: 2px solid grey;
        margin-left:-10px;
        display: flex;
        flex-direction: column;
    }
    .signupBtn{
        margin-left: 70px;
        width: 150px;
    }
    .loginBtn{
        margin-left: 100px;
        background-color: rgb(48, 53, 70);
    }
    .starter{
        text-align: center;
        width:300px;
       padding-bottom: 700px;
       margin-left: 620px;
       margin-top: 560px;
       margin-bottom: -600px;
    }
    .getStarted{
        width: 200px;
        height: 50px;
        margin-left: 10px;
        font-size: larger;
    }
    .middleSection{

    height: fit-content;
    width:390px;   
    margin-left:  370px;

    }
    .shortner{
        padding: 10px;
        padding-left: 25px;
        margin-left: 620px;
        margin-top: 50px;
        width:300px;
        height: max-content;
    }
    .enterBtn{
        width: 320px;
        margin-left: 2px;
    }
    input{
        width: 300px;
        margin-bottom: 20px;
        margin-left: 2px;
    }
    h2{
        margin-left: -160px;
    }
    .secondParagraph{
        width: 220px;
        margin-left: -70px;
    }
    .footerDiv{
  
  display: flex;
  flex-direction: column;
  margin-left: 60px;
    }
    .boostLinks{
        width: 840px;   
        margin-left: 370px;
     font-size: larger;
    }
    .layout{
        margin-top: 10px;
        margin-left: 25px;
    }
    .logo{
        margin-left: 370px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    footer{
        text-align: center;
        margin-left: 370px;
       height: fit-content;
       width: 750px;   
       padding-right: 90px;
       padding-bottom: 20px;
    }
.socialMedia{
    margin-left: 60px;
}
.lineThrough{
height: 490px;
width: 8px;
margin-left: 27px;
margin-top: -800px;
margin-bottom: 300px;
    
}
.statistics{
    display: flex;
    flex-direction: column;
    margin-left: -80px;
    
}
.img1,.img2,.img3{
    margin-left: 75px;
}
.block1,.block2,.block3{
    text-align: center;
  
}
.block3{
    margin-bottom: 150px;
}
.headerLink{
    margin-left: -20px;
}

}